{% extends 'myapp/base.html' %}
{% block title %}
Editar Registro
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-sm-8 offset-2">
        <h4 class="alert alert-info text-center">Execute as alterações</h4>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Update" class="btn btn-info">
            <a href="{% url 'home' %}" class="btn btn-warning">Retornar </a>
        </form>
    </div>
</div>
{% endblock %}
